* {
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    font-family: Helvetica;
    color: white;
}

body {
    background-color: black;
}

.navbar{
    display: flex;
    justify-content: center;
}

.navbar a{
    margin: 2vh;
}

.container{
    height: 100vh;
    justify-content: center;
}

.conteudo{
    text-align: -webkit-center;
    align-content: center;
}

form{
    width: 50%;
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
}

form label, input{
    margin-bottom: 2vh;
}

.text,.button{
    height: 5vh;
    border-radius: 10px;
    border: solid 1px;
    color: black;
    font-size: large;
}

.title{
    text-align: left;
}

.button{
    cursor: pointer;
}

.gastos-despesas{
    margin-top: 5vh;
}

.credito-debito{
    display: flex;
    align-items: center;
    width: 100%;
    place-content: center;
}

.caixa{
    width: 15vh;
    height: 10vh;
    background-color: white;
    border-radius: 20px;
    margin-top: 3vh;
}

.credito, .debito{
    margin: 5vh;
}