* {
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    font-family: Helvetica;
    color: white;
}

body {
    background-color: black;
}

.navbar{
    display: grid;
    justify-content: center;
    grid-template-columns: 25% 25% 25% 25%;
}

hr{
    margin-bottom: 15px;
}

.navbar a{
    margin: 2vh;
    height: 3vh;
    text-align: center;
    align-content: center;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.5vh;
}

.navbar a:hover{
    background-color: white;
    color: black;

}

.container{
    height: 100vh;
    justify-content: center;
    align-content: center;
    text-align: -webkit-center;
}

.conteudo{
    width: 90%;
    text-align: -webkit-center;
    align-content: center;
}


form{
    width: 50%;
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
}

form label, input{
    margin-bottom: 2vh;
}

.text,.button{
    height: 5vh;
    border-radius: 10px;
    border: solid 1px;
    color: black;
    font-size: large;
}

.title{
    text-align: left;
}

.button{
    cursor: pointer;
}

.gastos-despesas, .historico, .tela-investimentos, .tela-emprestimos{
    margin-top: 5vh;
}

.tela-emprestimos a{
    text-decoration: none;
}

.credito-debito, .investimentos, .emprestimos{
    align-items: center;
    width: 100%;
    place-content: center;
    display: grid;
    grid-template-columns: 50% 50%;
}

.caixa{
    width: 15vh;
    height: 10vh;
    background-color: white;
    border-radius: 20px;
    margin-top: 3vh;
    align-content: center;
    text-align: center;
}

.caixa h1{
    font-size: 2vh;
    color: black;
}

.credito, .debito, .total-investido, .nesse-mes{
    margin: 5vh;
}

.total-investido, .nesse-mes{
    font-size: 1.5vh;
}

.tipo_historico{
    margin-top: 2vh;
}

.tipo_historico h2{
    font-size: 15px;
    font-weight: 100;
}

.pegar-emprestimo .btn{
    background-color: white;
    color: black;
    border-radius: 15px;
    height: 50px;
    align-content: center;
}

.form-emprestimos .title{
    text-align: center;
}